.all-leaves-component-container {
  background-color: #f8f8fb;
  padding: 16px;
  border-radius: 10px;
  height: 100%;

  .all-leaves-heading {
    font-size: 1rem;
    font-weight: 600;
    color: #324054;
    margin-bottom: 10px;
  }

  .card-container {
    height: 100%;
    overflow-y: scroll;
  }
}
