<div class="grid-container">
    <div>
        <img src="../../../assets/logo.png" alt="eazyupdates image" class="image" />
    </div>
    <div class="form-container">
        <div class="form-caption">
            <h1>Welcome to EazyUpdates</h1>
            <span>Keep track of your projects, teams, or individuals progress.
                EazyUpdates can ease your job of keeping track of every
                member's updates within the organization.</span>
            <!-- <div id="g_id_onload"
                data-client_id="1004747005329-17u8bctnfgj0cpb4ristu58m1flp9bmq.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="onSuccess"
                data-nonce=""
                data-itp_support="true">
           </div>
           <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
           </div> -->
           <button id="google-signin-button"></button>
        </div>
    </div>
</div>