.my-app {
  height: 100vh;
  display: flex;
}
.sidebar {
  // width: 250px;
  box-shadow: 5px 0px 5px #44444422;
  z-index: 5;
}
.leave-page {
  width: calc(100vw - 250px);
}
@media only screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    background-color: white;
    height: 100vh;
  }
  .leave-page {
    width: 100vw;
  }
}
