.my-app {
  height: 100vh;
  display: flex;
}
.sidebar {
  box-shadow: 5px 0px 5px #44444422;
  z-index: 5;
}

.leave-page {
  width: calc(100vw - 102px);
  margin: 5px 5px 30px 20px;
}

.leave-page-expanded{
  width: calc(100vw - 250px);
  margin: 5px 5px 30px 20px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    box-shadow: 5px 0px 5px #44444422;
    z-index: 5;
    background-color: white;
    height: 100vh;
  }

  .leave-page {
    width: calc(100vw - 102px);
    margin-right: 5px;
  }
  
  .leave-page-expanded{
    width: calc(100vw - 250px);
    margin-right: 5px;
  }
}
