.my-app {
  height: 100vh;
  display: flex;
}
.sidebar,
.sidebar-hide {
  box-shadow: 5px 0px 5px #44444422;
  z-index: 5;
}

.leave-page {
  width: calc(100vw - 102px);
  margin: 5px 5px 30px 20px;
}

.leave-page-expanded{
  width: calc(100vw - 250px);
  margin: 5px 5px 30px 20px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    box-shadow: 5px 0px 5px #44444422;
    z-index: 5;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
  }

  .sidebar-hide {
    display: none;
  }

  .leave-page,
  .leave-page-expanded {
    width: 100vw;
    position: absolute;
    margin-left: 3px;
    margin-right: 3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}