.leave-main {
  display: flex;
  gap: 12px;
}
.all-leaves {
  width: 49%;
}
.leave-info {
  width: 49%;
}
@media only screen and (max-width: 800px) {
  .leave-info {
    display: none;
  }
  .all-leaves {
    width: 100%;
  }
}
